#first_row{
    display: flex;
    justify-content: space-between;
}

#second_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#last_row{
    display: flex;
    justify-content: space-between;
}

#listing_card{
    background-color: white;
    padding: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 30px 400px;
}

#header{
    font-size: 28px;
    font-weight: 600;
}

#price{
    color: #D77866;
    font-size: 36px;
    font-weight: 600;
}

#location{
    color: gray;
    font-size: 18px;
}

#per_night{
    font-size: 14px;
    color: 	#A9A9A9;
}

#distance{
    font-size: 16px;
    color: 	gray;
    margin-bottom: 10px;
}

#amenities{
    font-size: 16px;
    color: 	gray; 
}

#book_button{
    color:#D77866;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f7ebe9;
    margin-bottom: -5px;
}