#landing_slogan{
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 60px;
}

#home_in_slogan{
    color: #D77866;
}

#image{
    margin-left: -30px;
}

img{
    width: 500px;
}

#login_card button{
    border: none;
    cursor: pointer;
    border-radius: 40px;
    padding: 15px 0px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}

#login{
    background-color: #6C9C8E;
}

#signup{
    background-color: #6C9C8E;
}

#welcome_text{
    font-size: 40px;
    font-weight: 600;
}

#my{
    color:#6C9C8E;
}
#bnb{
    color: #D77866;
}

#mybnb{
    font-weight: bold;
}

button:hover{
    transform: scale(1.03);
}

#login_card{
    background-color: white;
    padding: 40px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    width: 450px;
    height: 350px;
    text-align: center;
}

#login_page{
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-left: 300px;
}

#login_left{
    width: 50%;
}

#login_right{
    width: 50%;
    margin-top: 20px;
}

#start_by{
    font-size: 24px;
}

#top_text{
    text-align: left;
    margin-bottom: 40px;
}

#login_card input{
    margin: 15px;
    width: 300px;
    border: 2px solid lightgray;
    border-radius: 30px;
    padding: 15px;
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 30px;
}

#login_card input:focus{
    outline: 5px auto Highlight;
}

#error_message_login{
    color: red;
}